  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<nav>
  <div id="top-nav">
    <div>
      <a id="about-link" href="/profiles">View Users</a>
    </div>
    <div>
      <a id="title-link" href="/">Potpurri of Ideas</a>
    </div>
    <div>
      <% if (user) { %>
      <a href="/profiles/<%= user._id %>">
        <img class="profile-image small"
          src="<%= user.profile.avatar %>" 
          alt="<%= user.profile.name %> avatar">
      </a>  
      <a href="/auth/logout">
        <button id="logout" type="submit">Logout</button>
      </a>
      <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
      <% } %>
    </div>
  </div>
</nav>

