  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    
    <div id="top-nav">
      <div>
        Potpurri of Ideas
      </div>
      <div>
        <% if (user) { %>
        <img class="profile-image small"
          src="<%= user.profile.avatar %>" 
          alt="<%= user.profile.name %> avatar">  
        <a href="/auth/logout">
          <button id="logout" type="submit">Logout</button>
        </a>
        <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
        <% } %>
      </div>
    </div>
  </nav>
