<nav id="sub-nav">
    <ul class="nav nav-pills nav-justified nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="">Jokes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Trivia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Riddles</a>
        </li>
    </ul>
</nav>