<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/subnav') %>

<main>
  <% if (riddles.length > 0) { %>
    <p>Yay!</p>
  <% } else { %>
    <p>No Riddles</p>
  <% } %>
</main>

<%- include('../partials/footer') %>