<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (trivias.length > 0) { %>
    <p>Yay!</p>
  <% } else { %>
    <p>No Trivia</p>
  <% } %>
</main>

<%- include('../partials/footer') %>