@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300&display=swap');

html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Bangers', -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

#main-menu {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: cornflowerblue;
  display: flex;
  height: 90px;
}

.page-buffer {
  height: 105px;
}

.profile-image {
  border-radius: 50%;
}

.small {
  width: 50px;
}

.medium {
  width: 200px;
}

.large {
  width: 300px;
}

#top-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 5rem;
}

#top-nav > div {
  flex-grow: 1;
  flex-basis: 0;
  margin: 20px;
}

#top-nav > div:nth-child(2) {
  text-align: center;
}

#top-nav > div:last-child {
  text-align: right;
}

a:hover {
  text-decoration: none;
}

.top-left-link {
  color: white;
  font-size: 3rem;
  vertical-align: middle;
}

.top-left-link:hover {
  color: crimson;
}

#title-link {
  color: black;
  font-size: 6.5rem;
}

#logout {
  border: none;
  background-color: cornflowerblue;
  color: white;
  vertical-align: middle;
  font-size: 3rem;
}

#logout:hover {
  color: crimson;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

.sub-title {
  font-size: 5rem;
}

.page {
  padding: 105px 0 0 0;
}

.action-link {
  width: 95%;
  text-align: left;
  font-size: 3rem;
}

.action-button {
  border: none;
  background-color: transparent;
  color: dodgerblue;
  vertical-align: middle;
  font-size: 3rem;
}

.action-button:hover {
  color: #0000EE;
}

.small-button {
  font-size: 2rem;
}

#logout:hover {
  color: crimson;
}

p {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 2rem;
}

.table-margin {
  margin: 30px 0 0 0;
}

.bottom-section {
  width: 80%;
}

.main-content {
  width: 60vw;
  height: 35vh;
  padding: 0 25px;
  border-radius: 25%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-nsfw {
  background-color: lightcoral;
}

.content-trivia {
  background-color: lightgreen;
}

.main-page-joke {
  width: 60vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.like-button {
  position: fixed;
  top: 105px;
  left: 15px;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3rem;
}

#single-profile {
  display: flex;
  flex-direction: row;
}

#profile-left {
  width: 300px;
  display: flex;
  flex-direction: column;
}

#profile-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#profile-middle {
  width: 37.5vw;
  height: 85vh;
  overflow: auto;
  padding: 0 20px;
}

#profile-right {
  width: 37.5vw;
  height: 85vh;
  overflow: auto;
  padding: 0 20px;
}

#view-follower {
  color: black;
}

#view-follower:hover {
  color: crimson;
}

.page-section {
  margin: 300px 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.first-page {
  flex-direction: column;
}

@keyframes color-change {
  0% { color: red; }
  12.5% { color: orange; }
  25% { color: yellow; }
  37.5% { color: limegreen; }
  50% { color: green; }
  62.5% { color: blue; }
  75% { color: indigo; }
  87.5% { color: violet; }
  100% { color: red; }
}

.rainbow-text {
  animation: color-change 8s linear 0s infinite;
}

#mission-statement-box {
  width: 40vw;
}