<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Create a New Joke</h1>
  <a class="action-link" href="/jokes">Back</a>
  <form action="/jokes" method="POST">    
    <p style="font-size:2.5rem;">Setup (required)</p>
    <p><textarea name="setup" rows="5" cols="50"></textarea><p>
    <br>
    <p style="font-size:2.5rem;">Punchline</p>
    <p><textarea name="punchline" rows="5" cols="50"></textarea></p>
    <button class="action-button small-button" type="submit">Post</button>
  </form>
</main>

<%- include('../partials/footer') %>